.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.dev/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.description-content {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  margin-top: 10px;
  min-height: 100px;
  padding-bottom: 20px;
}
