<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ task.title }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="description-content">
      {{ task.description }}
    </p>
  </mat-card-content>
  <mat-card-content>
    <p class="status-content">
      Status:
      <ng-container *ngIf="task.completed">
        <mat-icon class="status-icon completed">check_circle</mat-icon>
      </ng-container>
      <ng-container *ngIf="!task.completed">
        <mat-icon class="status-icon incomplete">cancel</mat-icon>
      </ng-container>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openEditDialog()">
      <mat-icon>edit</mat-icon>Edit
    </button>
    <button mat-flat-button color="warn" (click)="openDeleteDialog()">
      <mat-icon>delete</mat-icon>Delete
    </button>
  </mat-card-actions>
</mat-card>
